body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color:gray;
}

a {
  color: #00B7FF;
  border:gold solid 4px;
  border-radius:4px;
}
h2{
text-align:center;
}

