<!doctype html>
<html ng-app="myApp"> 
    
<head>
  <title>User Login and Sessions</title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body ng-controller="myController" ng-init="getAll()">  
    <div>
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
           
    </div>
    <br>
    <img src="http://vignette1.wikia.nocookie.net/warehouse13/images/e/e2/Edgar_Allan_Poe%27s_Quill_Pen.PNG/revision/latest?cb=20130828041003">
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="colorText">
     Color
        <%= color %>
      </span>
<h2> Add a Journal Entry </h2>

<form ng-submit="addJournal()"  style = "margin-top30px;">
   Title: <input type="text" ng-model="title"></input>
    <br>
    <textarea rows="10" cols = "50" ng-model="content"></textarea>
    <br>
    <button type="submit">Save Entry</button>
  </form>

<div id="entries"  ng-repeat="entry in user_entries ">
  <!-- <span class="glyphicon glyphicon-remove" ng-click="delete(entry)"></span>-->
     {{entry.title}}
     <br>
     {{entry.content}}
</div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
